<div class='card'>
  <h1>Hasta luego {{data.user}}</h1>
  <button class='button' onclick="window.location.href='/'">Volver a login</button>
</div>

<script>
  setTimeout(() => { window.location.href = '/'; }, 2000);
</script>

<script
  src='https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js'
></script>
<script src='../index.js'></script>