<section class='home'>
  <div class='home-card'>
    <h1 class='title-home'>
      Bienvenidos a mi aplicacion
    </h1>
    <div class='options'>
      <div>
        <button class='button' onclick="window.location.href='/products-test'">
          Ver productos
        </button>
        <button class='button' onclick="window.location.href='/chat'">
          Chat
        </button>
      </div>
    </div>
  </div>
</section>