<div class="card">
  <div class="form">
    <form id="productsForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Nombre"
          name="name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Precio"
          name="price"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Foto url"
          name="photo"
        />
      </div>
      <input type="submit" value="Enviar" class="button" />
      <button class="button">
        <a href="/productos">Ver productos</a>
      </button>
    </form>
  </div>
</div>
